# USed to exploit local environment variables
python-dotenv
# Used to serve an HTTP server with API support
#   (for now just used for healthchecks)
fastapi
uvicorn[standard]
# Libraries for testing
pytest
httpx2
