# HOW TO USE: please "save as" with filename '.env' in same folder
#   then adjust the values (after the =) as needed.

# Backoffice docker set configuration
COMPOSE_PROJECT_NAME=hbntory-bo

# === Database configuration ===
# = General config =
# Warning: root password define a strong one and keep it secure.
DB_ROOT_PASSWORD=<please_enter_a_good_password_here_without_quotes>
# Host (in case it can be useful), default will be localhost anyways.
DB_HOST="127.0.0.1"
# Port to use for host listen (on container it will always be 3306)
DB_PORT=3306
# By convention SQL database engines usually use this port
# so we use the same on host by default but you are free to change

# = Project related configuration =
# Database name
DB_HBNTORY_BASENAME=holberton_inventory
# Database's dedicated MariaDB user
DB_HBNTORY_USER_ID=hbntory_dbadmin
# and password
DB_HBNTORY_USER_PWD=<please-use-a-different-yet-also-strong-password>

# === Products API configuration ===
# Host port to expose service from outside container
PRODUCTS_API_PORT=5000
# Variable read from the provider's Docker file, "inner container port".
HBN_PRODUCTS_PORT=5000

# === Internal (Stock) API configuration ===
INTERNAL_API_PORT=8002

# === Backoffice based configuration ===
BACKOFFICE_PORT=8000

# === Autehntication related configuration ===
# = Plain authentication key for MCP serveur to interact with Backoffice API
# Use this command to generate a strong string
# python -c "import secrets; print(secrets.token_urlsafe(32))"
# WARNING: DO NOT USE ACCENTS OR ANYTHING BEYOND BASIC ASCII if "manual key"
INTERNAL_API_KEY=<paste-result-of-above-command>

# = Parameters adding security to how Json Web Tokens are generated
# NOTE: relies on pyjwt Python library, used in backoffice/auth.py
# Custom "salt" please actually generate one separately by running
# python -c "import secrets; print(secrets.token_urlsafe(32))"
#   then pasting the result here as value.
JWT_SECRET = "My super secret is so secret even I have forgotten is, oops!"
# Algorithm used to generate
JWT_ALGORITHM = "HS256"
# How long should the token be valid
JWT_EXPIRE_MINUTES = 60


# === Middle-office configuration ===
# = MCP Server configuration =
MCP_SERVER_PORT=8001



# = AI "Helper" Agent configuration =
LLM_MODEL_NAME=nvidia_nim/minimaxai/minimax-m3
LLM_MODEL_API_KEY=<please-generate-your-key-following-instructions-from-the-provider>
AI_SERVICE_PORT=8003
# WARNING: do NOT change this unless you are absolutely sure of what you are doing!!
# This is normally affected by Docker compose file to tell AI agent the name of
#   the docker service to target for tooling requests.
MCP_SERVER_HOST=mcp_server


# = Web client configuration =
CLIENT_PORT=8080
