# Essential to make app configurable using environment variables defined in a local file.
python-dotenv
# Base library to expose a Model Context Protocol Server
mcp[cli]>=1.6.0
# Required for MCP Server to make request to the Internal (Stock) API
httpx>=0.27.0
# Used to simplify and strengthen the manipulation of business data
pydantic>=2.7.0
# Used for isolated tests
pytest
httpx2
