# HOW TO USE: please "save as" with filename '.env' in same folder
#   then adjust the values (after the =) as needed.

# Backoffice docker set configuration
COMPOSE_PROJECT_NAME=hbntory-bo

# === Database configuration ===
# = General config =
# Warning: root password define a strong one and keep it secure.
DB_ROOT_PASSWORD=<please_enter_a_good_password_here_without_quotes>
# Host (in case it can be useful), default will be localhost anyways.
DB_HOST="127.0.0.1"
# Port to use for host listen (on container it will always be 3306)
DB_PORT=3306
# By convention SQL database engines usually use this port
# so we use the same on host by default but you are free to change

# = Project related configuration =
# Database name
DB_HBNTORY_BASENAME=holberton_inventory
# Database's dedicated MariaDB user
DB_HBNTORY_USER_ID=hbntory_dbadmin
# and password
DB_HBNTORY_USER_PWD=<please-use-a-different-yet-also-strong-password>
