# HOW TO USE: please "save as" with filename '.env' in same folder
#   then adjust the values (after the =) as needed.

# Backoffice docker set configuration
COMPOSE_PROJECT_NAME=hbntory-bo

# Database configuration
DB_PASSWORD=<please_enter_a_good_password_here_without_quotes>
# By convention SQL database engines usually use this but you are free to change
DB_PORT=3306
